/*global variables*/
body {
    --max-wrapper-width: 1300px;
    --wrapper-width: 95%;
}
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    color: var(--gray-6);
    font-family: var(--body-font);
    line-height: 1.5rem
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

h1 {
    color: var(--color-6);
    font-size: 2.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 3rem;
}

h2 {
    color: var(--color-4);
    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 2.2rem;
}

h3 {
    color: var(--color-5);
    font-size: 1.75em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 2rem;
}

h4 {
    color: var(--color-5);
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 2rem;

}

h5 {
    color: var(--color-5);
    font-size: 1.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.75rem;
}

h6 {
    color: var(--color-5);
    font-size: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.5rem;
}

p {
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: var(--contrast-color-6);
}

blockquote {
    position: relative;
    background-color: var(--contrast-color-2);
    font-style: italic;
    padding: 1rem 2rem;
    text-align: center;
}
blockquote::before{
    content: '"';
    font-size: 2rem;
    position: absolute;
    top: 0px;
    left: 1rem;
}
blockquote::after{
    content: '"';
    font-size: 2rem;
    position: absolute;
    bottom: -0.5rem;
    right: 1rem;
}


table {
    border-collapse: collapse;
}
td, th{
    padding: 0.5rem;
    border: 1px solid var(--gray-6);
}

/*******Forms*********/
textarea {
    width: 100%;
    min-height: 10rem;
    resize:vertical; /*allows vertical redimension*/
    background-color: transparent;

    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px dotted var(--gray-3);
    border-right: 1px dotted var(--gray-3);
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="number"]
{
    padding: 0.25rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
textarea:hover{
    background-color: var(--black-transparent-2);
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus{
    background-color: var(--black-transparent-5);
    color: var(--gray-1);
}
input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="url"]:focus::placeholder,
input[type="tel"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="number"]:focus::placeholder,
textarea:focus::placeholder{
    color: var(--gray-3); /*to change placeholder color*/
}


input[type="submit"],
input[type="reset"] {
    min-width: 100px;
    padding: 0.5rem 1rem;
    border: solid 1px var(--gray-3);
    border-radius: 10px;
    background-color: var(--gray-5);
    text-align: center;
    text-decoration: none;
    color: var(--gray-1);
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    border: solid 1px var(--gray-3);
    color: var(--gray-5);
    background-color: var(--white-transparent-5);
}
input[type="submit"]:active,
input[type="reset"]:active {
    box-shadow: 0 0 4px 1px var(--gray-5);
}


/*Validation behavior block*/
input[type="text"]:focus:valid,
input[type="email"]:focus:valid,
input[type="url"]:focus:valid,
input[type="tel"]:focus:valid,
input[type="password"]:focus:valid,
input[type="number"]:focus:valid,
textarea:focus:valid{
    border-color: darkgreen;
    border-width: 2px;
    /*background-image: url("../media/img/ok.svg");
    background-repeat:no-repeat;
    background-position: 100%;*/
}
input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid,
input[type="url"]:focus:invalid,
input[type="tel"]:focus:invalid,
input[type="password"]:focus:invalid,
input[type="number"]:focus:invalid,
textarea:focus:invalid{
    border-color: orangered;
    border-width: 2px;
    /*background-image: url("../media/img/ko.svg");
    background-repeat:no-repeat;
    background-position: 100%;*/
}

