/** Alternating divs. Alternating divs with a simple animation. You can set the alternating time with alternating-divs-time attribute.**/
/** Author: xsg */
/* Depends on:
 * js/addons/alternating-divs.js
 */


.alternating-divs {
    --animation-time: 0.3s;
    position: relative;
    width: 200px;
    height: 150px;
}
.alternating-divs>div {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotateX(90deg);
    transition: transform var(--animation-time);
}
.alternating-divs>div>img{
    width: 100%;
}
.alternating-divs>div.active {
    transform: rotateX(0deg);
    transition: transform var(--animation-time) var(--animation-time);
}