/** Blocks that appears when scroll is done**/
/** Author: xsg */
/* Depends on:
 * js/appearing-on-scroll.js
 * 
 */


.appearing-section{
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    display: flex row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    opacity: 0;
    transition: all 0.7s;
}
/*Comment the next two blocks or modify them to change odd-event styles*/
.appearing-section:nth-child(2n){
    background-color: white;
    color: black;
    transform: translateX(-100%);
}
.appearing-section:nth-child(2n+1){
    background-color: black;
    color: white;
    transform: translateX(100%);
}

.appearing-section.active{
    opacity: 1;
    transform: translateX(0%);
}