/** Header with responsive menu. The menu will hide and displayed by a (burguer) button on a mobile screen **/
/** Author: xsg */
/* Depends on:
 * css/bootstrap-icons.css
 * js/bheader.js
 * --wrapper-width and --max-wrapper-width are defined at css/base.css but have default values.
 */



.bheader {
    --big-height: 75px;
    --small-height: 65px;
    --title-width: 100px;
    --big-title-height: 35px;
    --small-title-height: 25px;

    position: sticky; top: 0; /*Will be always on top. Comment this line if you don't want it.*/
    z-index: 10;
    background-color: var(--contrast-color-4, #ac6a43ed);
    height: var(--big-height);
    width: 100vw;
    border-bottom: 1px solid white;
    box-shadow: 5px 0 10px var(--black-transparent-6, #000000aa);
}
.bheader>div {
    height: var(--big-height);
    width: var(--wrapper-width, 95%);
    max-width: var(--max-wrapper-width, 1300px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.bheader>div .bheader-title{
    flex-basis: var(--title-width);
    font-size: var(--big-title-height);
    padding-left: 35px;
}
.bheader>div nav {
    display: flex;
    justify-content: flex-end;
}
.bheader ul {
    display: flex; /*flex-direction: row; default value*/
    justify-content:flex-end;
}
.bheader ul li {
    border-radius: 3px;
    margin: 0 5px;
}
.bheader ul li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}
.bheader ul li:hover, .bheader ul li.bheader-active{
    background-color: var(--black-transparent-4, #00000044);
    transition: 0.4s; /*animation*/
}
.bheader-icon {
    margin-right: 30px;
    font-size: 25px;
    color: var(--gray-1, #F2F2F2);
    cursor: pointer;
    display: none;
}
.bheader ul.show { /*Called from js*/
    top: var(--small-height); 
    right:0;
}
.bheader-icon.show::before {  /*Depends on bootstrap-icons.css*/
    content: "\f659";
}

@media screen and (max-width: 992px) { /*landscape tablets limit*/
    .bheader ul li a {
        font-size: 16px;
    }
}
@media screen and (max-width:768px) {
    .bheader {
        height: var(--small-height);
    }
    .bheader-icon {
        display:inline-flex;
    }
    .bheader ul{
        position: fixed; /*To be shown independently*/
        width: 100vw;
        height: calc(100%-65px); /*long menu vertical*/
        background: var(--gray-5, #595959);
        top: -100vh; 
        text-align: center;
        transition: all 0.4s; 
        flex-direction: column;        
    }
    .bheader ul li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .bheader ul li:hover {
        background: none;
    }
    .bheader ul li a {
        font-size: 20px;
        font-weight: bold;
    }
    .bheader ul li a:hover{
        color: var(--contrast-color-4, #ac6a43ed);;
    }
    .bheader>div .bheader-title {
        font-size: var(--small-title-height);
        padding-left: 35px;
    }
    
}
@media screen and (max-width: 768px) and (orientation: landscape) { /*scroll with screen rotation (landscape)*/
    .bheader ul li {
        margin: 5px 0 0;
    }
    .bheader ul {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}


