/** Slider with controls (optionals). Optionally timered**/
/** Author: xsg */
/* Depends on:
 * js/addons/cislider.js
 * css/bootstrap-icons.css
 * 
 */

 /*
  * Options:
  * with attribute cisliderOptions
  * - prev: cislider will have a previous control.
  * - next: cislider will have a next control.
  * - index: cislider will have a index control.
  * - intervalN: To set the interval option in ms. If only interval (without number), N will be 5000 implicitly.
  *   If interval is not set, autochange won't work.
  */


.cislider {
    width: 100%;
    overflow: hidden;
}

.cislider>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.cislider>ul>li {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    translate: 0rem;
    transition: all 1s;

}

.cislider>ul>li img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.cislider {
    position: relative;

}
.cislider>.cislider-prev::before, .cislider>.cislider-next::before{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 4px  black, -1px -1px 4px black;
    padding: 0.3rem;
    font-size: 2rem;
    position: absolute;
    top: calc(50% - 2.3rem);
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    /*background-color: #00000099;
    border-radius: 30%;*/
}
.cislider:hover>.cislider-next::before{
    content: "\f285";
    font-weight: bold;
    right: 5px;
    display: inline-block;
    font-family: bootstrap-icons;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align:-0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cislider:hover>.cislider-prev::before{
    content: "\f284";
    font-weight: bold;
    left: 5px;
    display: inline-block;
    font-family: bootstrap-icons;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align:-0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cislider-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 3px 1px #595959;
    background-color: #888;
    margin: 0 5px;
    cursor: pointer;
}

.cislider-circle:hover {
    background-color: #333;
}
.cislider-circle.active {
    background-color: #333;
}
.cislider-navigation {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
.cislider-navigation-outer {
    width: 100%;
    text-align: center;
}

