/** Slider with controls (optionals). Optionally timered**/
/** Author: xsg */
/* Depends on:
 * js/cislider.js
 * 
 */

/*Use this to test and build it (you can have several slides blocks at the same document, with different images): */
/*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/addons/cislider.css">       <!-- !!! -->
    <script src="js/addons/cislider.js" defer></script>          <!-- !!! -->
</head>
<body>
    
    <div style="width: 200px">
        
        <div class="cislider cislider-auto">        <!--Use cislider-auto (optional) to set autoslide-->
            <span class="cislider-prev"></span>     <!--Optional-->
            <ul>
                <li><img src="https://fakeimg.pl/300x300" alt=""></li>
                <li><img src="https://fakeimg.pl/300x300" alt=""></li>
                <li><img src="https://fakeimg.pl/300x300" alt=""></li>
                <li><img src="https://fakeimg.pl/300x300" alt=""></li>
                <li><img src="https://fakeimg.pl/300x300" alt=""></li>
                <li><img src="https://fakeimg.pl/300x300" alt=""></li>
            </ul>
            <span class="cislider-next"></span>      <!--Optional-->
            <div class="cislider-navigation"></div>  <!--Optional. Could be cislider-navigation-outer and the index will appear under the image-->
        </div>

    </div>
</body>
</html>

*/

.cislider {
    width: 100%;
    overflow: hidden;
}

.cislider>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.cislider>ul>li {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    translate: 0rem;
    transition: all 1s;

}

.cislider>ul>li img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.cislider {
    position: relative;

}
.cislider>.cislider-prev::before, .cislider>.cislider-next::before{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 4px  black, -1px -1px 4px black;
    padding: 0.3rem;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    /*background-color: #00000099;
    border-radius: 30%;*/
}
.cislider:hover>.cislider-next::before{
    content: '>';
    font-weight: bold;
    right: 5px;
}
.cislider:hover>.cislider-prev::before{
    content: '<';
    left: 5px;
}

.cislider-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 3px 1px #595959;
    background-color: #888;
    margin: 0 5px;
    cursor: pointer;
}

.cislider-circle:hover {
    background-color: #333;
}
.cislider-circle.active {
    background-color: #333;
}
.cislider-navigation {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
.cislider-navigation-outer {
    width: 100%;
    text-align: center;
}

