/** Analogic clock, just for curiosity. Playing with rotation transform.**/
/** Author: xsg */
/* Depends on:
 * js/addons/clock.js
 */
/*Use this to test and build it (you can have several slides blocks at the same document, with different images): */
/*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/addons/clock.css">  <!-- !!! -->
    <script src="js/addons/clock.js" defer></script>     <!-- !!! -->
    <title>Document</title>
</head>
<body>
    <div class="clock">
        <div class="clock-center"></div>
        <div class="hours"></div>
        <div class="minutes"></div>
        <div class="seconds"></div>
    </div>
</body>
</html>
*/


.clock {
    --clock-size: 200px; /*Modify this variable to adjust the clock size*/
    
    border: 15px solid black;
    border-radius: 50%;
    width: var(--clock-size);
    height: var(--clock-size);
    position: relative;
}
.clock>.clock-center {
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    border: 1px solid pink;
    z-index: 2;
}
.clock>.hours {
    border: 4px solid red;
    position: absolute;
    top: calc(var(--clock-size)/4 - 4px);
    left: calc(50% - 4px);
    height: calc(var(--clock-size)/4);
    width: 0px;
    transform-origin: 4px calc(100% - 4px);
}
.clock>.minutes {
    --length: calc(var(--clock-size)/2 - var(--clock-size)/8);
    border: 2px solid blue;
    position: absolute;
    top: calc(var(--clock-size)/2 - var(--length));
    left: calc(50% - 2px);
    height: var(--length);
    width: 0px;
    transform-origin: 2px calc(100% - 4px);  
}
.clock>.seconds {
    --length: calc(var(--clock-size)/2 - var(--clock-size)/16);
    border: 1px solid black;
    position: absolute;
    top: calc(var(--clock-size)/2 - var(--length));
    left: calc(50% - 1px);
    height: var(--length);
    width: 0px;
    transform-origin: 1px calc(100% - 3px);
}