/** 
 *  dialogs.css are styles for dialogs. To be used with dialogs.js, a script that provides some functions for dialogs creations.
 */
/** Author: xsg */
/* Depends on:
 * js/addons/dialogs.js [module]
 * 
 */


 .dialog-screen-filter {

    --background-color: ghostwhite;
    --font-color: black;
    --close-button-color: black;
    --background-color-button: #00000018;
    --background-color-button-hover: #00000025;
    --background-color-button-active: #00000033;
    --inner-line-color: #00000055;


    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #00000033;

    & * {
        box-sizing: border-box;
    }

    &>.waiting-div{
        margin: 100px auto;
        width: 50px;
        height: 50px;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-top: 5px solid #3498db;
        border-radius: 50%;
        animation: dialog-waiting 1.5s linear infinite;
    }

    & .dialog {
        position: relative;
        border: 1px solid black;
        box-shadow: 0px 0px 4px 4px #bbb;
        border-radius: 5px;
        background-color: var(--background-color);
        color: var(--font-color);

        & .dialog-title,
        & .dialog-content,
        & .dialog-buttons {
            padding: 0 0.5rem;
        }

        & .dialog-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #999;

            & .dialog-title {
                text-align: center;
                font-size: 1.1rem;
                font-weight: bold;
                flex-grow: 1;

            }

            & .dialog-close-button {
                position: relative;
                border: none;
                display: block;
                height: 28px;
                width: 28px;
                
                border-radius: 50%;
                cursor: pointer;
                margin: 5px;



                & .close-icon::before,
                & .close-icon::after {
                    --size: 28px;
                    --icon-width: 1px;
                    --length: calc(var(--size) * 0.6);
                    content: "";
                    display: block;
                    position: absolute;
                    top: calc(50% - calc(var(--icon-width) / 2));
                    right: calc(50% - calc(var(--length) / 2));
                    background: black;
                    height: var(--icon-width);
                    width: var(--length);
                    border-radius: var(--icon-width);
                    transform-origin: center;
                    cursor: pointer;
                }

                & .close-icon::before {
                    transform: rotate(45deg);
                }

                & .close-icon::after {
                    transform: rotate(-45deg);
                }
            }
        }


        & .dialog-content {
            margin-top: 0.4rem;
            padding: 0.5rem;
        }

        & .dialog-buttons {
            text-align: center;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            display: flex;
            justify-content: center;

            & button {
                cursor: pointer;
                border: none;

                min-width: 70px;
                margin: 0 1rem;
            }
        }
    }

    & .dialog-color-picker {

        background-color: var(--background-color);
        box-shadow: 0px 0px 4px 4px #bbb;
        padding: 0.5rem;
        position: fixed;
        top: 50px;
        left: 50px;
        border-radius: 5px;
        border: 1px solid;
        z-index: 100;
        animation: 0.3s dialog-maximizing forwards;

        & button {
            position: relative;
            width: 24px;
            height: 24px;
            border: none;
            transition: all 0.2s 0.1s;

            &:hover {
                transform: translateY(-4px);
                box-shadow: 0px 2px 2px;
                z-index: 101;
            }
        }
    }

    & .dialog-context-menu {
        * {
            font-size: 1rem;
        }

        background-color: var(--background-color, ghostwhite);
        width: fit-content;
        border: var(--border-color, gray) solid 1px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 2px var(--shadow-color, #bbb);
        position: fixed;
        & ul {
            list-style: none;
            padding: 0rem;
            margin: 0;

            & hr {
                margin: 3px 0px;
                border-top: 1px solid;
                border-top-color: var(--border-color, #00000055);
            }

            & li {
                display: flex;

                &>* {
                    flex-grow: 1;
                }
            }

            & li button,
            & li .suboptions {
                text-align: left;
                border: none;
                background: transparent;
                padding: 0.2rem 1rem 0.2rem 1.2rem;
                outline: none;
                color: var(--font-color, black);

                &:hover,
                &:focus {
                    background-color: var(--background-color-button-hover, #00000025);
                }

                &:active {
                    background-color: var(--background-color-button-active, #00000033);
                }
            }

            & .suboptions {
                position: relative;

                &::after {
                    --size: 0.5rem;
                    position: absolute;
                    right: 5px;
                    top: var(--size);
                    transform: rotate(45deg);
                    content: '';
                    border-top: solid 1px var(--font-color, black);
                    border-right: solid 1px var(--font-color, black);
                    width: var(--size);
                    height: var(--size);

                }

                &>ul {
                    display: none;
                    background-color: var(--background-color, ghostwhite);
                    width: fit-content;
                    border: var(--border-color, gray) solid 1px;
                    border-radius: 5px;
                    box-shadow: 0px 0px 2px 2px var(--shadow-color, #bbb);
                    position: absolute;
                    top: 0;
                    left: 100%;
                }

                &.active>ul,
                &:hover>ul {
                    display: block;
                }
            }
        }
    }

}


@keyframes dialog-maximizing {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    to {
        clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
    }
}

@keyframes dialog-waiting{
    from {
        rotate: 0;
    }to {
        rotate: 360deg;
    }
}