/** Slider with controls.
 *    It's better to use cislider.css + cislider.js (it have an optional index and better code organization)
 */
 /** Author: xsg */
/* Depends on:
 * js/cslider.js
 * 
 */


.figure-overlapping-figcaption {
    position: relative;
}
.figure-overlapping-figcaption img {
    width: 100%;
    display: block;
}
.figure-overlapping-figcaption figcaption {
    position: absolute;
    /*height: 100%;*//*Uncomment this if wants the figcaption in the whole image*/
    max-height: 100%;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: #00000088;
    color: #F2F2F2;
    /*Uncomment scroll if needed.
    overflow-y: scroll;
    scrollbar-width: thin;*/
    transform: scale(1, 0);
    transition-property: transform;
    transition-duration: 400ms;
    transition-delay: 40ms;
    transform-origin: bottom;
}
.figure-overlapping-figcaption:hover figcaption {
    transform: scale(1, 1);
}

.figure-overlapping-figcaption-flange {
    position: absolute;
    height: 20px;
    width: 50px;
    background-color: #00000088;
    color: #F2F2F2;
    font-weight: bold;
    text-align: center;
    bottom: 0px;
    left: calc(50% - 25px);
    border-radius: 50px 50px 0px 0px;
    transition-property: bottom, transform;
    transition-duration: 400ms;
    transition-delay: 40ms;
    transform-origin: bottom;
}

.figure-overlapping-figcaption:hover .figure-overlapping-figcaption-flange {
    transform: scale(1, 0);
    bottom: 100%;
}