/** Responsive menu bar with subitems (2 levels).**/
/** Author: xsg */
/* Depends on:
 * js/images-presenter.js
 * 
 */


.images-presenter {
    position: relative;

    & img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;            
        opacity: 0;
        transition: opacity 2s ease;

        &:first-child{
            position: relative;
        }

        &.active {
            opacity: 1;
            transition: opacity 2s ease;
        }
    }
}
