/** Just items.**/
/** Author: xsg */
/* Depends on:
 * bootstrap-icons.css
 */



.list-options {
    --color-1: var(--contrast-color-6, #212529);
    --color-2: var(--gray-1, #F2F2F2);
    --background-color:var(--contrast-color-1, #F2F2F2);
    
    width: fit-content;
}
.list-options>li, .list-options>li>span{
    position: relative;
    cursor: default;
    color: var(--color-1);
}
.list-options a{
    text-decoration: none;
    display: block;
    padding: 0rem 0.5rem;
    background-color: var(--background-color);
}
.list-options a:hover{
    background-color: var(--color-1);
    color: var(--color-2);

}
.list-options>li>ul {
    position: absolute;
    transform: scale(1, 0);
    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 40ms;
    transform-origin: top center;
    
}
.list-options>li:hover>ul {
    transform: scale(1, 1);
}