/** Lateral link icons.**/
/** Author: xsg */
/* Depends on:
 * 
 * 
 */

.llinks {
    position: fixed;
    top: 20vh;
    right: -5px;
    background-color: var(--black-transparent-6);
    padding: 10px 10px 10px 10px;
    border-radius: 10px 0px 0px 10px;

    & ul {
        width:fit-content;

        & li {
            list-style: none;

            & img{
                position: relative;
                width: 48px;
                height: 48px;
                left: 0px;

                &:hover{
                    position: relative;
                    left: -5px;
                    transition-duration: 0.2s;
                }
            }
        }
    }

    &:hover{
        right: -0px;
        transition-duration: 0.4s;
    }

}
