/** Prompter horizontal. Shows the div inside from right to left in a infinite animation.
 * When hover, the animation is paused.
**/
/** Author: xsg */
/* Depends on:
 */


.prompter-horizontal {
    --width: 300px;
    --animation-duration: 25s;
    border: solid white;
    box-shadow: 0 0 1px 1px lightgrey;
    width: var(--width);
    overflow: hidden;
    
}
.prompter-horizontal div {
    animation: prompter-horizontal infinite;
    animation-duration: var(--animation-duration);
    animation-timing-function: linear;
    text-wrap: nowrap;
    width:fit-content;
}
.prompter-horizontal:hover div {
    animation-play-state: paused;
}


@keyframes prompter-horizontal {
    from {
        transform: translateX(var(--width));
    }
    to {
        transform: translateX(-100%);
    }
}