/** Timered slider.**/
/** Author: xsg */
/* Depends on:
 * js/slider.js
 * 
 */


.slides {
    width: 200px;
    overflow: hidden;
}
.slides>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.slides>ul>li {
    flex: 0 0 auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    translate: 0rem;

    transition: all 1s ;
    
}
.slides>ul>li  img {
    max-width: 100%;
    max-height: 100%;
}
